.vscode/**
.vscode-test/**
.claude/**
.github/**
out/**
node_modules/**
!dist/node_modules/node-pty/**
artifacts/**
.pnpm-store/**
scripts/**
NODE_PTY_DISTRIBUTION_SPEC.md
TROUBLESHOOTING.md
pnpm-lock.yaml
pnpm-workspace.yaml
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
